<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
-->
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>The Home Page <%=pageNum%></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero dignissimos enim ipsum quas aliquam quam nulla
        sed nihil qui repellendus suscipit consectetur, accusamus aliquid, earum rem fugit ab error natus.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quisquam minus officia voluptate quo delectus
        sunt quia, cupiditate eum totam tenetur aspernatur nobis fuga accusantium aut recusandae! Porro, adipisci ab!
        Velit quaerat nobis voluptatem consequuntur error temporibus. Accusantium, atque dolor. Exercitationem sapiente
        autem harum magni itaque, expedita fugit minima! Excepturi consequatur architecto, at nisi saepe porro nam
        numquam exercitationem ipsam.</p>
</body>

</html>