<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>
<body>
    
    <%- include('partials/navbar')%>
    
    <div class="container">
        <h1>Browsing The <%= subreddit %> subreddit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nesciunt incidunt nisi quo, molestias
            beatae, distinctio nobis eaque labore, magnam cumque sapiente libero perferendis repellendus dolore porro
            deleniti nulla exercitationem.
            Ab, quo id dolore a mollitia quaerat in. Voluptates, id dolorum? Nesciunt, porro maxime. Labore error
            commodi nobis sequi quibusdam excepturi enim, harum sit incidunt nisi cupiditate magni distinctio aliquid!
            Maiores quia voluptas numquam enim ducimus? Maiores ullam dolor sed officiis eos atque magnam alias ratione
            laboriosam obcaecati voluptatibus sunt illum, unde eaque, accusamus nobis voluptates cupiditate vitae
            reiciendis repellat?
            Officia sunt culpa magni accusamus debitis ut eum optio voluptatum inventore tenetur nesciunt, incidunt
            quia, sit, non exercitationem fuga dolorum! Mollitia reprehenderit odio molestiae hic repellat beatae
            laboriosam? Voluptatibus, repellendus!
            Vitae perferendis architecto fugiat eum autem tenetur nesciunt repellat distinctio fugit reprehenderit
            necessitatibus debitis totam aliquid, ipsa incidunt! Fugit adipisci quaerat iusto ab at debitis delectus
            suscipit aspernatur aliquam sequi.</p>
    </div>


</body>

</html>